<div class="container mt-1">
    <div class="row">
        <div class="col-md-11 text-center mt-3">
            <h3 style="font-family:sans-serif;margin-right:145px">{{likeParam === 'likers' ? 'My Likes' : 'Likes Me'}} : {{pagination.totalItems}}</h3>
        </div>
        <div class="col-md-1 float-left">
            <div class="btn-group-vertical">
                <button type="button" [(ngModel)]="likeParam" btnRadio="likers" (click)="loadUsers();" class="btn mb-1  btn-up" [ngStyle]="{'background':likeParam ==='likers'?'red':''}"> Likes Me</button>
                <button type="button" [(ngModel)]="likeParam" (click)="loadUsers();" btnRadio="likees" class="btn  btn-down" [ngStyle]="{'background':likeParam ==='likees'?'red' :''}"> My Likes</button>
            </div>
        </div>
    </div>
    <div class="row mt-4 ">
        <div *ngFor="let user of users" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
    <div *ngIf="pagination.totalItems>0" class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.itemPerPage" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" (pageChanged)="search=true;pageChanged($event);" previousText="Pervious" nextText="Next" firstText="First"
            lastText="Last">
        </pagination>
    </div>
</div>