.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
    color: white !important;
}

.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background: pink !important
}

.dropdown-toggle,
.dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
    border-radius: 50px;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: 2px;
    padding: 2px 2px;
    color: #333333;
    font-size: 16px;
    border-radius: 50%;
}