<div [hidden]="successPaid">
    <h2>Sory..this serice need Subscription You can subscripe now</h2>
    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
        <div class="text-center">
            <h4> Subscripe Now ..50.00 Dollars Only Per Year</h4>
            <div class="mt-4" id="card-info" #cardInfo></div>

            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
        </div>
        <button (click)="load()" class="btn btn-primary" type="submit">
  
   <span [hidden]="loader">
      Subscripe With Us
    <i class="fa fa-cc-visa mr-1"></i>
    <i class="fa fa-cc-mastercard"></i>
   </span> 
   
   <span [hidden]="!loader">
      Wait a moment
      <div  class="loader float-left ml-1">
      </div>
    </span>
   
   </button>
    </form>
</div>
<div [hidden]="!successPaid" class="checkout">
    <h4> Your Subscripe is Active Now</h4>
    <br>
    <h4> Wait a moment to transfer to serive Or Click Back</h4>
</div>

<button class="btn btn-dark ajs-button " (click)="backClicked();"> Back <i class="fa fa-arrow-left"></i></button>